# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

.idea/
glove-data/
hf_datasets_cache/
a2/data/
a2/results/
a3/outputs/
a3/runs/
a3/sanity_check_en_es_data/
a3/zh_en_data
a3/model.bin
a3/model.bin.optim